html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* task 3 */
.gallery__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

.gallery__img {
  display: block;
  width: 350px;
  height: 230px;
  border-radius: 4px;
}

/* task 6 */

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
